<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MeNote！</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/intro.css">
</head>
<body>
    <div id="webHeader">
        <div id="webTitle">
            <a href="index.html"><img src="./images/logo.png"></a>
        </div>
    </div>
    <div id="introBody" align="center">
        <!--这里应该写欢迎词-->
        <a id="login" href="login.html">
            <img src="./images/intro/log-in.png">
            <span>Log In</span>
        </a>
        <a id="signup" href="signup.html">
            <img src="./images/intro/pencil.png">
            <span>Sign Up</span>
        </a>
    </div>

    <div id="footer" align="center">
        <footer>
            &copy;2017-版权所有 吴宇涵
        </footer>
    </div>
</body>
</html>