<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/intro.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/info.css">
</head>
<body>
<div id="webHeader">
    <div id="webTitle">
        <a href="index.html"><img src="../public/images/logo.png"></a>
    </div>
</div>
<div id="introBody" align="center">
    <div id="info">
        <a id="loginLogo" href="signup.html" >
            <img src="../public/images/intro/log-in.png">
            Log In
        </a>
        <form action="/login" method="get">
            <p>
                <input type="text" name="userid" class="input" placeholder="  user name">
            </p>
            <p>
                <input type="password" name="password" class="input" placeholder="  password">
            </p>
            <input type="submit" value="  Log in!  " class="button">
        </form>
    </div>
</div>
<hr>
<div id="footer" align="center">
    <footer>
        &copy;2017-版权所有 吴宇涵
    </footer>
</div>
</body>
</html>