<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeNote</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/note.css">

    <script>
        //TODO 这里应该直接在登录处设置
        var username = '<%- JSON.stringify(username) %>';
        localStorage.setItem('user', JSON.parse(username));

        var files = '<%- JSON.stringify(files) %>';
        files = JSON.parse(files);
    </script>
    <script type="text/javascript" src="../javascripts/jquery/jquery.min.js"></script>
</head>
<body>
<div id="webHeader">
    <div id="webTitle">
        <a href="index.html"><img src="../images/logo.png"></a>
        <!--这里应该有登出和用户的一些东西-->
    </div>
</div>
<div id="notebook">
    <!--TODO 应该有一些搜索和归类-->
    <!--左边是用户的历史note，右边是写note的地方-->
    <div id="index_container" class="note">
        <ul id="index"></ul>
    </div>

    <div id="content" class="note" align="center">
        <div id="title" class="note">
            <label id="title_label">
                Title:
            </label>
            &nbsp;&nbsp;
            <input id="title_space" type="text" placeholder="">
        </div>
        <div id="datepicker" class="note">
            <input type="date" name="date">
        </div>
        <textarea id="text"></textarea>
        <div>
            <button class="button" name="submit" onclick="saveNote()">save</button>
        </div>
    </div>
</div>
<hr>
<div id="footer" align="center">
    <footer>
        &copy;2017-版权所有 吴宇涵
    </footer>
</div>
</body>
<script>
    var index = document.getElementById("index");
    var i = 0;

    function appendIndexItem(itemName) {
        var li = document.createElement("li");
        li.innerHTML = itemName;
        li.setAttribute("id", "no" + i);
        li.setAttribute("onclick", "getNote(\"" + itemName + "\")");

        return li;
    }

    files.forEach(function (t) {
        var li = appendIndexItem(t);
        index.appendChild(li);
        i++;
    });
</script>
<script type="text/javascript" src="../javascripts/note.js"></script>
</html>