<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/intro.css">
</head>
<body>
<div id="webHeader">
    <div id="webTitle">
        <a href="index.html"><img src="../public/images/logo.png"></a>
    </div>
</div>
<div id="introBody" align="center">
    <!--这里应该画一个注册的框-->
    <a id="signupLogo" href="signup.html">
        <img src="../public/images/intro/pencil.png">
        <span>Sign Up</span>
    </a>
    <form>

    </form>
</div>
<hr>
<div id="footer">
    <footer align="center">
        &copy;2017-版权所有 吴宇涵
    </footer>
</div>
</body>
</html>