#info{
    position: relative;
    top: 17%;
}

.input{
    color: #2b2b2b;
    background: transparent;

    padding-right: 2px;
    border-radius: 100px;
    border: ridge 3px rgba(166, 166, 166, 0.58);

    width: 25%;
    height: 45px;

    font-size: 16px;
}

.button{
    color: #545454;
    background-color: rgba(165,214,167,0.53);

    font-size: 20px;
    font-weight: 600;
    font-family: Consolas, monospace;

    border-radius: 10px;
    border-color: rgba(165, 214, 167, 0.53);

    width: 22%;
    height: 35px;
}